@import './common.scss';
@import './normalize.scss';
@import './plugin.scss';
@import './variables.scss';



@for $i from 0 through 10 {
  .mt-#{$i} {
    margin-top: 2px * $i  !important;
  }

  .mb-#{$i} {
    margin-bottom: 2px * $i  !important;
  }

  .ml-#{$i} {
    margin-left: 2px * $i  !important;
  }

  .mr-#{$i} {
    margin-right: 2px * $i  !important;
  }

  .mx-#{$i} {
    margin-left: 2px * $i  !important;
    margin-right: 2px * $i  !important;
  }

  .my-#{$i} {
    margin-top: 2px * $i  !important;
    margin-bottom: 2px * $i  !important;
  }
}